<div class="container pt">
		<div class="row mt centered">	

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-fire"></span>
				<p>Asumo con responsabilidad los retos y proyectos a los que dedico mi tiempo.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p>Siempre busco los recursos para solucionar los retos a los que me enfrento.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-book"></span>
				<p>Como autodidacta, aprendí por mi cuenta la teoría básica del idioma japonés</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p>Persevero hasta alcanzar mis metas. Mi filosofía de vida es nunca rendirse. </p>
			</div>
		</div>
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>ABOUT ME</h4>
				<p>Soy una persona dispuesta a ayudar a los demás, diligente, proactiva,responsable, perseverante, recursiva, dispuesta a afrontar nuevos retos y con habilidades en manejo de equipo, asertividad, entrenamiento en herramientas informáticas y manejo de conflictos. Me gusta aprender algo nuevo todos los días, soy autodidacta por naturaleza.</p>
			</div>
			
			<div class="col-lg-6">
				<h4>SKILLS</h4>
				HTML + CSS + SASS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">75% Complete</span>
					</div>
				</div>

				Javascript & jQuery
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						<span class="sr-only">40% Complete</span>
					</div>
				</div>

				Django
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</div>
		</div>
	</div>