<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img class="picture" src="/assets/img/javier-daza.jpg" alt="Javier Daza">
        <h1>Hola, Soy Javier!</h1>
        <p>Como programador siempre he pensado que nuestro propósito en la vida es proporcionar soluciones que mejoren nuestra calidad de vida y la de futuras generaciones. </p>
        <p>Ayudar a los demás es mi pasión, es lo que me hace despertar cada día y seguir adelante.</p>
      </div>
    </div>
  </div>
</div>