<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img class="picture" src="/assets/img/javier-daza.jpg" alt="Javier Daza">
        <h1>Hi, I'm Javier!</h1>
        <p>As a programmer I've always thought that our way of life has only one purpose, and that is to provide solutions that improve quality of life for us and the future generations. </p> 
        <p>Helping others is my passion, it's what makes me wake up every day and keep striving to set, and surpass, my goals.</p>
      </div>
    </div>
  </div>
</div>

