<footer class="footer">
        <div class="footer_body">
            <div class="container">
                <div class="row">

                    <!-- Newsletter -->
                    <div class="col-lg-3 footer_col">
                        <div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
                            <div class="footer_logo mb-auto"><a href="#">MI UBICACIÓN</a></div>
                            <div class="footer_title">Barranquilla, Colombia</div>
                        </div>
                    </div>

                    <!-- About -->
                    <div class="col-lg-3 offset-lg-3 footer_col">
                        <div>
                            <div class="footer_title">Mis Cuentas</div>
                            <ul class="footer_list">
                                <li><a href="https://stackoverflow.com/users/2142093">Stackoverflow</a><br/></li>
                                <li><a href="https://github.com/{{ site.my_username }}">Github</a></li>
                                <li><a href="https://twitter.com/{{ site.my_username }}">Twitter</a></li>
                                <li><a href="https://co.linkedin.com/in/javierdazaco">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Help & Support -->
                    <div class="col-lg-3 footer_col clearfix">
                        <div class="footer_title">Sobre Javier</div>
                        <ul class="footer_list">
                            <li>Emprendedor, desarrollador web, fundador de:</li>
                            <li><a href="http://kizunaclub.com">Kizuna Club</a></li>
                            <li><a href="https://www.meetup.com/pythonbaq/">Python Barranquilla</a></li>
                            <li>y miembro de:</li>
                            <li><a href="https://www.facebook.com/djangogirlscolombia">Django Girls Colombia.</a></li>
                            <li><a href="https://www.python.org.co/usuarios/javierdaza/">Python Colombia</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="copyright_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                            <div class="cr"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                            <div class="cr_right ml-md-auto">
                                <div class="footer_social">
                                    <span class="cr_social_title">Hospedado en </span>
                                    <a href="https://github.com"><img class="github-logo" src="/assets/img/github-logo.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>