<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Mi Ubicación</h4>
        <p>
          Barranquilla, Colombia.
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Mis Cuentas</h4>
        <p>
          <a href="http://stackoverflow.com/users/2142093/javidazac">Stackoverflow</a><br/>
          <a href="https://github.com/javierdaza">Github</a><br/>
          <a href="https://twitter.com/xavidaza">Twitter</a><br/>
          <a href="https://co.linkedin.com/in/javierdazaco">LinkedIn</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Sobre Javier</h4>
        <p>Emprendedor, desarrollador web, creador de <a href="http://kizunaclub.com">Kizuna Club</a> y organizador de <a href="http://www.meetup.com/Django-Barranquilla/">Django Barranquilla</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 copyright-disclaimer">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />Este sitio está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional</a>.</p>
      </div>
      <div class="col-lg-8 text-right">
        Hospedado en <a href="https://github.com"><img class="github-logo" src="/assets/img/github-logo.png"></a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/assets/js/hover.zoom.js"></script>
<script src="/assets/js/hover.zoom.conf.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>