<header class="header">
            

        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="mr-auto">
                                <a href="{{ site.baseurl }}/">
                                    <div class="logo_text">Javier Daza</div>
                                </a>
                            </div>
                            <nav class="main_nav_contaner">
                                <ul class="main_nav">
                                    <li><a href="{{ site.baseurl }}/">Mi perfil</a></li>
                                    <li class="active"><a href="/cursos/">Cursos</a></li>
                                </ul>
                            </nav>
                            <div class="header_content_right ml-auto text-right">
                                

                                <!-- Hamburger -->

                                <div class="user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></div>
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li><a href="{{ site.baseurl }}/">Mi perfil</a></li>
                <li class="active"><a href="/cursos/">Cursos</a></li>
            </ul>
        </nav>
        <div class="menu_extra">
            <div class="menu_social">
                <span class="menu_title">Sígueme en</span>
                <ul>
                    <li><a href="https://co.linkedin.com/in/javierdazaco"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/javierdaza"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/javidazac"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Home -->

    <div class="home">
    </div>
