<div class="container pt">
	<div class="row mt">
		<div class="col-lg-6 col-lg-offset-3 centered">
			<h3>MY PORTFOLIO</h3>
			<hr>
			<p>This is my work as a freelance. Most of this websites have been developed using Django as backend</p>
		</div>
	</div>
	<div class="row mt centered">	
		<div class="col-lg-4">
			<a class="zoom green" href="http://dazaglobal.com/"><img class="img-responsive" src="/assets/img/portfolio/logo-daza-global.jpg" alt="Daza Global" /></a>
			<p>DAZA GLOBAL</p>
		</div>
		<div class="col-lg-4">
			<a class="zoom green" href="http://kizunaclub.com/"><img class="img-responsive" src="/assets/img/portfolio/logo-kizuna-club.jpg" alt="Kizuna Club" /></a>
			<p>KIZUNA CLUB</p>
		</div>
		<div class="col-lg-4">
			<a class="zoom green" href="http://fundacionlacueva.org/"><img class="img-responsive" src="/assets/img/portfolio/logo-fundacion-la-cueva.jpg" alt="Fundación La Cueva" /></a>
			<p>FUNDACIÓN LA CUEVA</p>
		</div>
	</div><!-- /row -->
	<div class="row mt centered">	
		<div class="col-lg-4">
			<a class="zoom green" href="http://casesores.com/"><img class="img-responsive" src="/assets/img/portfolio/logo-casesores.jpg" alt="Casesores" /></a>
			<p>CASESORES</p>
		</div>
		<div class="col-lg-4">
			<a class="zoom green" href="http://www.inmb.javidaza.webfactional.com/"><img class="img-responsive" src="/assets/img/portfolio/logo-planos-inmobiliaria.jpg" alt="Inmobiliaria Planos" /></a>
			<p>PLANOS REAL STATE</p>
		</div>
	</div>
</div>