<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Javier Daza Comas - Web Developer</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Javier Daza - Desarrollador de Web Apps">
    <meta name="author" content="Javier Daza">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    
    <link rel="stylesheet" href="/assets/plugins/github-calendar/dist/github-calendar.css"
/>
    <link rel="stylesheet" href="/assets/plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    
    <link id="theme-style" rel="stylesheet" href="/assets/css/about-me-eng.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 

<body> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="/assets/img/javier-daza.jpg" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Javier Daza</h1>
                <h2 class="desc">Desarrollador de Web Apps</h2>   
                <ul class="social list-inline">
                    <li>
                        <a href="https://twitter.com/javidazac"><i class="fa fa-twitter"></i></a>
                    </li>                   
                    <li>
                        <a href="http://stackoverflow.com/users/2142093/javidazac"><i class="fa fa-stack-overflow"></i></a>
                    </li>
                    <li>
                        <a href="https://co.linkedin.com/in/javierdazaco"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/javierdaza"><i class="fa fa-github-alt"></i></a>
                    </li>               
                </ul> 
            </div>
            <a class="btn btn-cta-primary pull-right" href="mailto:javierdazacomas@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i> Contactame</a>              
        </div>
    </header>
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Sobre Mi</h2>
                        <div class="content">
                            <p>Como programador siempre he pensado que nuestro propósito en la vida es proporcionar soluciones que mejoren nuestra calidad de vida y la de futuras generaciones. Ayudar a los demás es mi pasión, es lo que me hace despertar cada día y seguir adelante.</p>
         
                            <p>Soy una persona dispuesta a ayudar a los demás, diligente, proactiva,responsable, perseverante, recursiva, dispuesta a afrontar nuevos retos y con habilidades en manejo de equipo, asertividad, entrenamiento en herramientas informáticas y manejo de conflictos. Me gusta aprender algo nuevo todos los días, soy autodidacta por naturaleza.</p>

                            <p>Dispuesto a ayudar a otros, organizo y facilito una reunión de Python llamada <a href="https://www.meetup.com/pythonbaq/" target="_blank">Python Barranquilla</a>, donde los principiantes pueden comenzar a trabajar en comunidad y familiarizarse con la programación. Además, cuando tengo tiempo, escribir entradas de blog en un sitio web personal relacionado con cómo aprender japones y sobre cultura japonesa.</p>
                         
                        </div>
                    </div>                
                </section>
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Últimos Proyectos</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="http://kizunaclub.com/" target="_blank">Kizuna Club - Sitio de aprendizaje</a></h3>
                                <p class="summary">Una plantilla responsive de Bootstrap diseñada para probar un MVP de una idea de negocio</p>
                                <div class="featured-image">
                                    <a href="http://kizunaclub.com/" target="_blank">
                                        <img class="img-responsive project-image" src="/assets/img/about_me_eng/projects/kizuna-club.png" alt="project name" />
                                    </a>
                                </div>
                                <div class="desc text-left">                                    
                                    <p>Este proyecto es una idea de negocio que vino de una de mis aficiones, mi fascinación por Japón y su cultura. El diseño es a partir de 2013, pero ahora mismo continúa sirviendo su propósito. El proyecto consiste en un sitio web con un backend en Django, que nos ayuda a servir para nuestros 3500 usuarios mensuales. </p>
                                    <p>Como herramienta de prueba para un MVP, el frontend del sitio web se desarrolló rápidamente con Bootstrap y el diseño se mejoró mediante una plantilla.</p>
                                </div>        
                                <a class="btn btn-cta-secondary" href="http://kizunaclub.com/" target="_blank"><i class="fa fa-thumbs-o-up"></i> Apoya mi proyecto</a>
                            </div>
                            <hr class="divider" />

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://fundacionlacueva.org/" target="_blank">
                                <img class="img-responsive project-image" src="/assets/img/about_me_eng/projects/fundacion-la-cueva.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://fundacionlacueva.org/" target="_blank">Fundación La Cueva - Sitio Web y CMS</a></h3>
                                    <p>Este sitio web es una plataforma CMS (Content Management System) que utiliza Django para ayudar al administrador del sitio a administrar el contenido del sitio web. Puede cargar imágenes, editar contenido en el encabezado, pie de página, y también hacer entradas en el blog.</p>
                                    <p><a class="more-link" href="http://fundacionlacueva.org/" target="_blank"><i class="fa fa-external-link"></i> Más información</a></p>
                                </div>                         
                            </div>
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://www.inmb.javidaza.webfactional.com/" target="_blank">
                                <img class="img-responsive project-image" src="/assets/img/about_me_eng/projects/planos-inmobiliaria.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://www.inmb.javidaza.webfactional.com/" target="_blank">Planos - Sitio Web y Aplicación Web</a></h3>
                                    <p>Esta aplicación web de una inmobiliaria está hecha en Django. Tiene filtros que permite a los usuarios encontrar un apartamento o una casa, de acuerdo a sus necesidades. También tiene un panel de administración amigable que permite al administrador publicar nuevos lugares y etiquetarlos en Google Maps. Actualmente la empresa está inactiva, pero tengo un ejemplo del sitio web para mi portafolio.</p>
                                    <p><a class="more-link" href="http://www.inmb.javidaza.webfactional.com/" target="_blank"><i class="fa fa-external-link"></i> Más información</a></p>
                                </div>                         
                            </div> 

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://dazaglobal.com/" target="_blank">
                                <img class="img-responsive project-image" src="/assets/img/about_me_eng/projects/dazaglobal.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="http://dazaglobal.com/" target="_blank">DazaGlobal - Sitio Web con Administración de Portafolio</a></h3>
                                    <p>Este sencillo sitio web fue creado con Django y su propósito es ayudar al administrador del sitio web a gestionar los productos mostrados en el sitio web.</p>
                                    <p><a class="more-link" href="http://dazaglobal.com/" target="_blank"><i class="fa fa-external-link"></i> Más información</a></p>
                                </div>                         
                            </div>

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="https://www.gocargo.co/" target="_blank">
                                <img class="img-responsive project-image" src="/assets/img/about_me_eng/projects/gocargo.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://www.gocargo.co/" target="_blank">GoCargo - Aplicación Web y WebService</a></h3>
                                    <p>Desarrollé una aplicación web utilizando el framework Symfony en PHP para gestionar información de camiones, conductores y rutas. También esta aplicación web sirve a una aplicación de Android y además envía información a una aplicación de terceros, del gobierno.</p>
                                    <p><a class="more-link" href="https://www.gocargo.co/" target="_blank"><i class="fa fa-external-link"></i> Más información</a></p>
                                </div>                        
                            </div>
                            
                        </div> 
                    </div>                 
                </section>
                
                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Otros Proyectos</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="http://pybaq.co" target="_blank">PyBAQ - Página en Lektor</a> <span class="label label-theme">Open Source</span></h3>
                                <p class="summary">Soy uno de los mantenedores de todos los repositorios de código abierto creados en Python Barranquilla. Hablando sobre el sitio web, mis contribuciones son principalmente sobre contenido, CSS, HTML, entre otros.</p>
                                <p><a class="more-link" href="https://github.com/PyBAQ/django-quilla-web" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                            </div>
                            <div class="item">
                                <h3 class="title"><a href="http://examenes.kizunaclub.com/" target="_blank">Quizzes App - Hecha con Material Design</a></h3>
                                <p class="summary">Esta aplicación web hecha en Django, utiliza una aplicación de prueba para probar al usuario en una variedad de preguntas en la gramática japonesa. Se pretende que sea responsive. Utiliza Material Design.</p>
                                <p><a class="more-link" href="http://examenes.kizunaclub.com/" target="_blank"><i class="fa fa-external-link"></i> Más información</a></p>
                            </div>

                            <div class="item">
                                <h3 class="title"><a href="http://medicaltie.co/" target="_blank">MedicalTie - Aplicación Web</a></h3>
                                <p class="summary">Desarrollé un sitio de e-learning usando Wordpress y PHP. Dentro de la sección de administración puede gestionar el contenido y múltiples niveles de usuarios, así como suscripciones. También este sitio web acepta pagos en línea mediante el uso de un plugin de Wordpress. La aplicación fue personalizada por requisitos del cliente. </p>
                                <p><a class="more-link" href="http://medicaltie.co/" target="_blank"><i class="fa fa-external-link"></i> Más información</a></p>
                            </div>
                            
                        </div>
                    </div>                 
                </section>
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Experiencia</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Ingeniero de Software Freelance - <span class="place"></span> <span class="year">(2017 - presente)</span></h3>
                                <p>En este año me he dedicado a desarrollar aplicaciones web en Django para clientes locales e internacionales. Mi principal cliente ha sido NeWAY Capital, el cual me ha encargado el soporte de una plataforma que conecta inversionistas con emprendedores. Uno de mis principales aprendizajes ha sido aprender a ser un desarrollador Fullstack.</p>
                            </div>
                            <div class="item">
                                <h3 class="title">Ingeniero de Software - <span class="place"><a href="http://piensa.co/" target="_blank">Piensa Labs</a></span> <span class="year">(2016)</span></h3>
                                <p>Principalmente trabajando en aplicaciones web geoespaciales en Python y Django. El enfoque fue mantener una aplicación monolítica para el <a href="http://www1.wfp.org/">Programa Mundial de Alimentos de las Naciones Unidas.</a></p>
                            </div>
                            <div class="item">
                                <h3 class="title">Desarrollador Web Junior - <span class="place"><a href="https://www.technisupport.com/" target="_blank">Technisupport S.A.S</a></span> <span class="year">(2014 - 2015)</span></h3>
                                <p>Trabajé en diferentes aplicaciones web en PHP, básicamente utilizando el framework Symfony y en Wordpress. El trabajo consistió en el desarrollo de nuevas aplicaciones, el mantenimiento de antiguas, la construcción de APIs y sitios web.</p>
                            </div>
                            
                            <div class="item">
                                <h3 class="title">Desarrollador Freelance - <span class="place"></span> <span class="year">(2012 - 2014)</span></h3>
                                <p>Desarrollador web independiente. Trabajé con varios clientes, desarrollando sitios y aplicaciones web con Python y Django como principal framework.</p>
                            </div>
                            
                        </div> 
                    </div>                
                </section>
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">Mi GitHub</h2>                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Información Básica</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Ubicación:</span>Barranquilla, CO</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:javierdazacomas@gmail.com">javierdazacomas@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Sitio Web:</span><a href="http://javierdaza.co/">http://javierdaza.co/</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Habilidades</h2>
                        <div class="content">                            
                            <div class="skillset">
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SASS<span class="level-label">Intermedio</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>                                      
                                    </div>                                 
                                </div>

                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Intermedio</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="60%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Intermedio</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="46%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">
                                        AngularJS
                                        <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="">
                                        </span>
                                    </h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="15%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <p><a class="more-link" href="http://stackoverflow.com/users/2142093/javidazac?tab=profile"><i class="fa fa-external-link"></i> Más en Stackoverflow</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Educación</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> BSc Ingeniería Electrónica</h3>
                                <h4 class="university">Universidad del Norte <span class="year">(2008-2012)</span></h4>
                            </div>
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Aprendiz en la Fundación Japón</h3>
                                <h4 class="university">Fundación Japón, sede en Kita Urawa <span class="year">(Sep.2016 - Feb. 2017)</span></h4>
                            </div>
                        </div>
                    </div>
                </aside>
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Idiomas</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>Español:</strong></span>
                                    <span class="level">Hablante Nativo <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li>
                                <li class="item">
                                    <span class="title"><strong>Inglés:</strong></span>
                                    <span class="level">Competencia profesional <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </i></span>
                                </li>
                                <li class="item">
                                    <span class="title"><strong>Japones:</strong></span>
                                    <span class="level">Nivel Intermedio <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> </i></span>
                                </li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Música favorita para codear</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="http://www.jazzradio.com/" target="_blank">Jazzradio, solo lo dejo en aleatorio y disfruto la música</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="https://open.spotify.com/track/6NPVjNh8Jhru9xOmyQigds" target="_blank">Happy - Pharrell Williams</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="https://open.spotify.com/track/444P4wvSDa0SD5HE4YGx9B" target="_blank">Come Get It Bae - Pharrell Williams</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="https://open.spotify.com/track/1AvXB7pTYb7irnDLRfE27H" target="_blank">Marilyn Monroe - Pharrell Williams</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="https://open.spotify.com/track/0S5EEpFAHcT7cm5XOASc29" target="_blank">Love Never Felt so Good - Michael Jackson</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferencias</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="https://understandrisk.org/event/ur2016/" target="_blank">Understanding Risk Forum 2016</a> (Venecia, Italia)</li>
                                <li><i class="fa fa-calendar"></i> <a href="http://ar.pycon.org/" target="_blank">PyCon Argentina 2017</a> (Córdoba, Argentina)</li>
                                <li><i class="fa fa-calendar"></i> <a href="https://www.pycon.co/team/" target="_blank">Colaborador PyCon Colombia 2018</a> (Medellín, Colombia)</li>
                            </ul>
                        </div>
                    </div>
                </aside>

                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Talleres</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="https://argentinaenpython.com/django-girls/2017/07/barranquilla/" target="_blank">Organizador de Django Girls Barranquilla 2017</a> (Barranquilla, Colombia)</li>
                                <li><i class="fa fa-calendar"></i> <a href="https://argentinaenpython.com/django-girls/2017/10/cartagena/" target="_blank">Organizador de Django Girls Cartagena 2017</a> (Barranquilla, Colombia)</li>
                            </ul>
                        </div>
                    </div>
                </aside>
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Diseñado con <i class="fa fa-heart"></i> por <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> para desarrolladores</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="/assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/github-calendar/dist/github-calendar.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/github-activity/src/github-activity.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/assets/js/about_me_eng.js"></script>
    {% if jekyll.environment == 'production' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79135478-1', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}        
</body>
</html> 

